{% extends 'base.html.twig' %}

{% block title %}Liste catégorie{% endblock %}

{% block body %}
    <h1>Liste catégorie</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td>
                    <a href="{{ path('app_admin_category_show', {'id': category.id}) }}">Afficher</a>
                    <a href="{{ path('app_admin_category_edit', {'id': category.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_category_new') }}">Créer une catégorie</a>
{% endblock %}
