
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">CARNAVAL</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ path('app_home') }}">Accueil</a>
        </li>
        {% if is_granted ('ROLE_USER')%}
        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_category_index') }}">Catégories</a>
        </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_register') }}">Inscription</a>
        </li>
        
        {% if is_granted ('ROLE_USER')%}
        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
        </li>
        {% endif %}

        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_login') }}">Identification</a>
        </li>
        <li class="nav-item dropdown">

        {% if is_granted ('ROLE_ADMIN')%}
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Espace admin
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{{ path('app_admin_category_index') }}">Catégories</a></li>
            <li><a class="dropdown-item" href="{{ path('app_admin_article_index') }}">Articles</a></li>
            <li><a class="dropdown-item" href="{{ path('app_admin_comment_index') }}">commentaires</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{{ path('app_admin_user_index') }}">Utilisateur</a></li>
          </ul>
        {% endif %}

        </li>
      </ul>
      <form class="d-flex" role="search" action="{{ path('app_lookup') }}" method="GET">
        <input class="form-control me-2" name="search" type="search" placeholder="" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Chercher</button>
      </form>
    </div>
  </div>
</nav>
