{% extends 'base.html.twig' %}

{% block title %}Liste de commentaire{% endblock %}

{% block body %}
    <h1>Liste de commentaire</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Content</th>
                <th>CreatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for comment in comments %}
            <tr>
                <td>{{ comment.id }}</td>
                <td>{{ comment.content }}</td>
                <td>{{ comment.createdAt ? comment.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_admin_comment_show', {'id': comment.id}) }}">afficher</a>
                    <a href="{{ path('app_admin_comment_edit', {'id': comment.id}) }}">modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_comment_new') }}">Créer un commentaire</a>
{% endblock %}
